*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(images/logo.png) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;  
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: blue;
    font-size: 35px;
    font-family: Georgia;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.MENU{
    width: 400px;
    float: left;
    height: 70PX;
}

.ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
    
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}